<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Royal Victory - <%= title %></title>

  <!-- Font Icon -->
  <!-- <link
    rel="stylesheet"
    href="fonts/material-icon/css/material-design-iconic-font.min.css"
  /> -->

  <!-- Main css -->
  <link rel="stylesheet" href="css/login-style.css" />

  <link rel="icon" type="image/png" href="images/logo-royal-victory.png" />

  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css"
  />
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
</head>
