<html>
  <head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Royal Victory - <%= title %></title>

    <link rel="icon" type="image/png" href="images/logo-royal-victory.png" />
  </head>
  <body>
    <div style="text-align: center">
      <img
        src="images/notfound.jpg"
        alt="sign in image"
        style="max-height: 400px"
      />

      <div
        style="font-size: 20px; font-family: 'Jost', sans-serif; color: #1070ae"
      >
        <div style="font-weight: 600; font-size: 25px">
          Halaman tidak ditemukan.
        </div>
        <br />
        Silahkan kembali ke halaman utama. Klik
        <a href="/" style="font-weight: 600">disini</a>
      </div>
    </div>
  </body>
</html>
