<%- include('layouts/head.ejs')%> <%- include('layouts/navbar.ejs')%>

<div style="min-height: calc(100vh - 160px)">
  <!-- Contact Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center mx-auto mb-5" style="max-width: 500px">
        <h5
          class="d-inline-block text-primary text-uppercase border-bottom border-5"
        >
          Ada yang mau ditanyakan?
        </h5>
        <h1 class="display-4">Silahkan hubungi kontak kami</h1>
      </div>
      <div class="row g-5 mb-5">
        <div class="col-lg-4">
          <div
            class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            style="height: 200px; padding-top: 20px"
          >
            <div
              class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
              style="width: 100px; height: 70px; transform: rotate(-15deg)"
            >
              <i
                class="fa fa-2x fa-location-arrow text-white"
                style="transform: rotate(15deg)"
              ></i>
            </div>
            <h6 class="mb-0">
              Jl. Cendana No. 15, Kelurahan Mawar, Kecamatan Bunga Indah, Kota
              Bahagia, Provinsi Sejahtera
            </h6>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            style="height: 200px"
          >
            <div
              class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
              style="width: 100px; height: 70px; transform: rotate(-15deg)"
            >
              <i
                class="fa fa-2x fa-phone text-white"
                style="transform: rotate(15deg)"
              ></i>
            </div>
            <h6 class="mb-0">021-1434792</h6>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            class="bg-light rounded d-flex flex-column align-items-center justify-content-center text-center"
            style="height: 200px"
          >
            <div
              class="d-flex align-items-center justify-content-center bg-primary rounded-circle mb-4"
              style="width: 100px; height: 70px; transform: rotate(-15deg)"
            >
              <i
                class="fa fa-2x fa-envelope-open text-white"
                style="transform: rotate(15deg)"
              ></i>
            </div>
            <h6 class="mb-0">royal.victory@rs.com</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
</div>
<%-include('layouts/footer.ejs')%>
